/* Responsive Grid Layout */
* {
    box-sizing: border-box;
}

/* Using the 12-grid layout structure */
.grid-container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
}

.leftside {
    grid-area: leftside;
    grid-column: 1/ span 4;
    background-color: aqua;
}

.timer {
    grid-area: timer;
    grid-column: 5/ span 4 ;
    background-color: gold;
}

.rightside {
    grid-area: rightside;
    grid-column: 9/ span 4;
    background-color: palegreen;
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
